@font-face {
    font-family: mainFont;
    src: url(Dosis-VariableFont_wght.ttf);
}
body {
    font-family: mainFont;
    background-color: #f4f4f4; /* Light background for contrast */
    margin: 0;
    padding: 20px;
}

.task{
    /* border: 1px solid blueviolet; */
    background-color: rgba(178, 131, 222,0.2);
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
   

}
.task:hover{
    #icons{
        display: block;
    }
}

.content{
    display: flex;
    
}
.timew{
    background-color: red;
    color: white;
    border-radius: 10%;
    width: 50px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.timed{
    background-color: pink;
    color: white;
    border-radius: 10%;
    width: 45px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.container{
    border: 1px dotted rgb(164, 43, 146);
    padding: 5px;
    display: flex;
    gap: 20px;
   
}
.box{
    width: 50%;
    border: 1px solid rgb(125, 68, 68);
    border-top: 2px solid rgb(225, 12, 172);

    padding: 5px;
}
.btn{
    background-color:rgb(183, 61, 235) ;
    border-radius: 25%;
    padding: 2px;
    transition: background-color 0.3s ease;

}


.btnbox{
    display: flex;

}

.btn:hover{
    background-color: rgb(139, 111, 141);
}

#icons{
    display: none;
}

.pages{
    display: flex;
    align-items: center;
}
.page{
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgb(139, 85, 210);
}
.page:hover{
background-color: rgb(232, 159, 203);}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* چیدمان عمودی */
        gap: 10px; /* فاصله بین باکس‌ها */
    }

    .box {
        width: 100%; /* عرض کامل */
    }
}